<!-- Footer -->
  <section id="footer">
    <div class="inner">
      <section>
        <h3>Get in Touch</h3>
        <ul class="contact">
          <li class="fa-envelope"><a href="mailto:info@lfcdenver.com">info@lfcdenver.com</a></li>
          <li class="fa-twitter"><a href="https://twitter.com/lfcdenver">@lfcdenver</a></li>
          <li class="fa-facebook"><a href="https://www.facebook.com/LFCDenver/">facebook.com/lfcdenver</a></li>
        </ul>
      </section>
    </div>
    <div class="copyright">
      <p>Copyright &copy; LFC Denver. All rights reserved.</p>
    </div>
  </section>
