<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="top">

    <!-- Page Wrapper -->
      <div id="page-wrapper">

    {% include header.html %}

        {{ content }}
    
    {% include footer.html %}

    </div>

<!-- Scripts -->
  <script src="{{site.url}}/assets/js/jquery.min.js"></script>
  <script src="{{site.url}}/assets/js/jquery.dropotron.min.js"></script>
  <script src="{{site.url}}/assets/js/jquery.scrollgress.min.js"></script>
  <script src="{{site.url}}/assets/js/jquery.scrolly.min.js"></script>
  <script src="{{site.url}}/assets/js/jquery.slidertron.min.js"></script>
  <script src="{{site.url}}/assets/js/skel.min.js"></script>
  <script src="{{site.url}}/assets/js/util.js"></script>
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="{{site.url}}/assets/js/main.js"></script>

  </body>

</html>
